packets*.out filter=lfs diff=lfs merge=lfs -text
transitiondata.txt filter=lfs diff=lfs merge=lfs -text
tests/data/macroatom_0000.out filter=lfs diff=lfs merge=lfs -text
tests/data/packets00_0000.out filter=lfs diff=lfs merge=lfs -text
