.cache
.coverage
*.pyc
*.swp
*.tmp
transitions*.pdf

.pytest_cache
__pycache__/
*.py[cod]
*$py.class

*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.iml
*.xml
*.txt
